<h2>Soal 1: Hello World to Python</h2>
    
Print Say Hello World to Python

In [1]:
print ("Hello World Python")

Hello World Python

Expected Output : 

Hello World Python

<h2>Soal 2: Aritmatika di Python </h2>
    
- Buat statement pertambahan antara 2 number di Python
- Buat statement perkurangan antara 2 number di Python
- Buat statement perkalian antara 2 number di Python
- Buat statement pembagian antara 2 number di Python

In [4]:
print ("Penjumlahan 1+1=",1+1)
print ("Pengurangan 1-1=",1-1)
print ("Perkalian 1x1=",1*1)
print ("Pembagian 1:1=",1/1)

Penjumlahan 1+1= 2
Pengurangan 1-1= 0
Perkalian 1x1= 1
Pembagian 1:1= 1.0

<h2>Quiz 3: Assign Variable dan Tipe Data Integer, Float </h2>

- Buat suatu variabel a dan b, dimana a dan b adalah nilai bertipe data numeric
- Berikan suatu nilai bertipe data integer, hasil pembagian dari a dengan b
- Berikan suatu nilai bertipe data float, hasil pembagian dari a dengan b

In [5]:
a=3
b=6
print("int 3:6=", int(a/b))
print("float 3:6=", float(a/b))

int 3:6= 0
float 3:6= 0.5

<h2>Soal 4: String Operation </h2>

- masukan nama depan kamu kedalam suatu variable firstname
- masukan nama belakang kamu kedalam suatu variable lastname
- tampilkan suatu kalimat 'Hello sanbercode, saya firstname lastname! saya siap belajar python data science dasar.'

In [6]:
firstname="Luthfi"
lastname="Drajanta"
print("Hello sanbercode, saya " + firstname + " " + lastname + "! saya siap belajar python data science dasar" )

Hello sanbercode, saya Luthfi Drajanta! saya siap belajar python data science dasar

Expected Output :

Hello sanbercode, saya Afrida Hafizhatul Ulum! saya siap belajar python data science dasar.

<h2>Soal 5: Tipe Data</h2>

Lengkapi code di bawah ini untuk menghasilkan output yang sesuai

In [8]:
usia = 25
kata = 'usiaku: '
print(kata +str(usia)+'tahun')

usiaku: 25tahun

Expected Output : (sesuai usia masing-masing)

usiaku: 28 tahun